body {
    background-color: transparent;
}

html {
    background: url("http://i67.tinypic.com/23kc494.jpg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item-title {
    color: cadetblue;
}

.main-image-block {
    padding: 3px;
}

#shopping-cart-badge {
    visibility: hidden;
}

.image-preview-block{
    overflow: hidden;
    border: #fff 1px solid;
    margin-right: 10px;
    cursor: pointer;
}

.image-preview-block:hover
{
    background: #fff;
    opacity: 0.6;
}

.image-preview-block img{
    max-height: 100%;
    max-width: 100%;
}

.image-preview-block img:hover{
    /*opacity: 0.8;*/
}